
li {
    list-style: none;
}

body {
    box-sizing: border-box;
}


.header {
    background-color: orange;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: rgb(65, 51, 51);
    font-size: large;
    font-weight: bold;
}

.links a {
    padding: 10px;
    margin: 10px;
}

.body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.title {
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.midle {
    display: flex;
    flex: 1;
    /* justify-content: stretch; */
}

.aside {
    display: block;
    min-width: 210px;
    padding: 15px;
    text-align: center;
    /* flex-grow: 1; */
 }

.main {
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    /* flex-grow: 2; */
}

.first {
    background-color: #685174;
    order: -1;
}

.second {
    background-color: #9cb1c7;
}

.footer {
    text-align: center;
    background-color: #83e783;;
    padding-top:  10px;
    padding-bottom:  10px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.cards {
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: center; */
}


.card {
    padding: 10px;
    margin-bottom: 10px;
    border: solid rgb(172,172,172);
    border-radius: 30px;
    display: flex;
    width: calc(30% - 20px);
    height: auto;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    transition: border-color 0.2s;
}

.tovar {
display: flex;
flex-direction: column;
flex: 1;
}

.title2 {
    font-size: 20px;
    font-weight: 700;
    /* display: flex; */
}

.button {
    /* position: fixed;
    bottom: 0; */
    background-color: #685174;
    color: white;
    padding: 7px 25px;
    border: none;
    border-radius: 30px;
    font-weight: 800;
    opacity: 1;
    transition: 0.3s;
    outline: none;
    font-size: 20px;
}

.button:hover {
    opacity: 0.3;
}

.card:hover {
    border: solid rgb(85, 76, 76);
    /* transition: 0.2s;   */
}

.image {
    border: 15px solid rgba(163, 138, 138, 0.7);
    width: 30%;
    transition: 0.3s;
    border-radius: 50%;
    margin: 10px;   
}

.holder {
    width: 510px;
    margin: 100px auto;
    border-radius: 15px 15px 0 0;
    display: flex;
    border: 3px solid black;
    /* border-radius: 20%; */
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

.item {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.item:first-child {
    background-color: #fd644d;
    width: 50%;
    order: 1;
}

.item:last-child {
    background-color: #fda429;
    width: 50%;
    order: 2;
}

.item:nth-child(3) {
    background-color: #663797;
    width: 170px;
    order: 3;
}
.item:nth-child(2) {
    background-color: #4983b2;
    width: 170px;
    order: 4;
}

.item:nth-child(4) {
    background-color: #0e7f12;
    width: 170px;
    order: 5;
}

@media (max-width: 991px) { 
    .card {
        padding: 30px;
        margin-bottom: 10px;
        border: solid rgb(172,172,172);
        border-radius: 30px;
        display: flex;
        width: calc(40% - 10px);
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .midle {
        display: flex;
        flex-direction: column;
    }
    .aside {
        display: block;
        min-width: 210px;
        padding: 10px;
        text-align: center;
    }
    .first {
        background-color: #685174;
        order: 0;
 }
 

        .main {
            box-sizing: border-box;
            padding: 40px;
            text-align: center;
            font-size: 14px;
            font-weight: bold;

        }
     
}
@media (max-width: 765px){
    .header {
        display: inline;
    }
    .links {
        display: inline;
    }
    
}

 @media (max-width: 575px) {
    .card {
        padding: 30px;
        margin-bottom: 10px;
        border: solid rgb(172,172,172);
        border-radius: 30px;
        display: flex;
        width: calc(60% - 30px);
        height: auto;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
    }
    .main {
        box-sizing: border-box;
        padding: 40px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
    }
    .cards {
        justify-content: center;
    }
    .holder {
        width: 330px;
        margin: 100px auto;
        border-radius: 15px 15px 0 0;
        display: flex;
        border: 3px solid black;
        /* border-radius: 20%; */
        justify-content: space-between;
        flex-wrap: wrap;
        overflow: hidden;
    } 
    .links {
        display: inline;
    }
    .header {
        display: inline;
    }
    /* .menu {
        font-size: 25px;
    box-sizing: border-box;
    height: 100vh;
    width: 400px;
    background-color: gray;
    transform: translateX(92%);
    transition: all 0.5s;
    position: absolute;
    padding-left: 30px;
    padding-top: 50px;
    } */
}