.main {
    height: 100wh;
    width: 100vw;
}

.any {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    animation: 5s ease infinite running move;
    
    
}
@keyframes move {
    0%{ 
        top: 20px;
        left: 20px;
        background-color: red;
       
    }
    25% {
        top: 200px;
        left: 20px;
        background-color: blue;

    }
    50% {
        top: 200px;
        left: 400px;
        background-color: green;

    }
    75% {
        top: 20px;
        left: 400px;
        background-color: yellow;
    }
    100% {
        top: 20px;
        left: 20px;
        background-color: red;
    }
}