
body {
    background: #0d5825; 
   
}

.quote {
    font-size: 25px;
    text-align: center;
    color: white;
    /* position: relative; */
}
.card {
        transition: all 0.3s ease;
        width: 150px; 
        position: relative;
        transform-origin: left bottom;
        bottom: 0;
                
}

.cards {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -75%);
    top: 50%;
   
}

.first {    
    left: 130px;
    transform: rotate(-25deg);
    /* transform-origin: left bottom; */
    /* bottom: 0; */
  
}
.second {
    z-index: 0;
    transform: rotate(-10deg);
    /* transform-origin: left bottom;
    bottom: 0; */
}

.third {
    left: -130px;
    z-index: 1;
    transform: rotate(5deg);
    /* transform-origin: left bottom;
    bottom: 0;*/
}
.card:hover{
        bottom: 20px;
}

    